* {
  scrollbar-width: thin;
  scrollbar-color: #c50f21 #070d12;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #070d12;
}

*::-webkit-scrollbar-thumb {
  background-color: #c50f21;
  border-radius: 20px;
  border: 3px solid #070d12;
}
